body
{
	background-color: transparent !important;
}


html { 
	background-color:#000!important;
  background: url("gem.jpg") no-repeat center center fixed !important;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul li{

	background-color: transparent !important;
}

.list-group-item{
	border: none;
}