<html ng-app="store">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body ng-controller="StoreController as store">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
			<h3>
				{{product.name}}
				<em class="pull-right">{{product.price | currency }}</em>
				<br><img ng-src="{{product.images[0].full}}"/>
			</h3>
			<section ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{active:tab===1}">
					<a href ng-click="panlel.selectTab(1)">Description</a></li>
					<li ng-class="{active:tab===2}">
					<a href ng-click="panel.selectTab(2)">Specifications</a></li>
					<li ng-class="{active:tab===3}">
					<a href ng-click="panel.selectTab(3)">Reviews</a></li>
				</ul>
				<div class="panel" ng-show="tab===1">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="tab===2">
					<h4>Specifications</h4>
					<blockquote>None yet</blockquote>
				</div>
				<div class="panel" ng-show="tab===3">
					<h4>Reviews</h4>
					<blockquote>None yet</blockquote>
				</div>
			</section>
			</li>
		</ul>
	</body>
</html>